
@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "EmptyCart";
}

    <div>
        <h1>Shopping Cart</h1>

        <h5>Cart is currently empty.</h5>

        <div>
            <a href='javascript:history.go(-1)'>Go Back</a>
        </div>

    </div>

