@model Bangazon.Models.OrderProduct

@{
    ViewData["Title"] = "Remove";
}

    <h3>Are you sure you want to remove @Html.DisplayFor(model => model.Product.Title) from cart?</h3>
<div>

    <hr />

    <form asp-action="Remove">
        <input type="hidden" asp-for="OrderProductId" />
        <div class="btn">
            <a asp-action="Details">Cancel</a>
        </div>
        <input type="submit" value="Confirm" class="btn btn-danger" />

    </form>
</div>
